        {% extends 'base.html' %}
        {% block content %}
<main class="container py-5">
<section class="card card-body">
<div class="login">
"Los hackers son genios. No porque sean inteligentes, sino porque pueden controlar el mundo con el click de un botón"   </div>
	<div class="row py-3">
	<a class="btn btn-secondary col px-2"  href="/signin">Iniciar Session</a>
	</div>
	<div class="row py-1">

	<a class="btn btn-dark col px-2"  href="/signup">Crear Cuenta</a>
</div>
</section>
   </main>
{% endblock %}
