        {% extends 'base.html' %}
        {% block content %}
<main class="container py-5">
<section class="card card-body">
<div class="login">
“Para tener éxito y hacer crecer tu negocio e ingresos, debe coincidir la forma de comercializar tus productos con la forma en que tus clientes los comprenden y compran.”
De nada sirve tener un producto innovador, si el mercado no lo entiende y no lo conoce.
   </div>
	<div class="row py-3">
	<a class="btn btn-secondary col px-2"  href="/signin">Iniciar Session</a>
	</div>
	<div class="row py-1">

	<a class="btn btn-dark col px-2"  href="/signup">Crear Cuenta</a>
</div>
</section>
   </main>
{% endblock %}
