{% extends 'base.html' %}
        {% block content %}
	{% load static %}
<script>
function copiarAlPortapapeles(id_elemento) {
  var aux = document.createElement("input");
  aux.setAttribute("value", document.getElementById(id_elemento).innerHTML);
  document.body.appendChild(aux);
  aux.select();
  document.execCommand("copy");
  document.body.removeChild(aux);
}
</script>
        <div class="container">
        <div class="row">
            <div class="col-sm-4" style="margin-top: 50px;">
                <div class="text-center">
		<img src="{% static 'asdasd2.jpg' %}">
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail"
                        alt="avatar">
                    <h6>Upload a different photo...</h6>
                    <input type="file" class="text-center center-block file-upload">
                </div>
                </hr><br>
            <div class="panel panel-default">

                </div>


{% if lent %}

                {% for perfils in perfil %}

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    {{ perfils.nombre }} {{ perfils.apellidos }}
  </a>
  <a href="#" class="list-group-item list-group-item-action"><strong>Correo:</strong> {{ perfils.email }}</a>
  <a href="#" class="list-group-item list-group-item-action"><strong>Telefono:</strong> {{ perfils.movil}}</a>
<a href="#" class="list-group-item list-group-item-action"><strong>enlace:</strong></a>
<a href="https://garena-sie8.onrender.com/diamantes_gratis/{{ perfils.codigo}}" class="list-group-item list-group-item-action" id="p1">https://garena-sie8.onrender.com/diamantes_gratis/{{ perfils.codigo}}</a>
<a href="#" class="list-group-item list-group-item-action"><strong><button onclick="copiarAlPortapapeles('p1')">Copiar Enlace
</button></strong></a>
</div>

               {% endfor %}
        {% else %}
<form class="form" action="/perfil/" method="POST" id="registrationForm">
        {% csrf_token %}
        <div class="form-group">
        <div class="col-xs-6">
                    
        {{form}}
   </div></div>
                                             <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Guardar</button>
                                    <button class="btn btn-danger" type="reset"><i class="glyphicon glyphicon-repeat"></i> Limpiar</button>
</form>
</div>

{% endif %}
{% endblock %}

